In [3]:
import os, glob
import pandas as pd

In [45]:

participant_file = "/Users/nikkibytes/Documents/summer2019/example_data/Total_Participant_Dataset.xlsx"


print("Text Files Found:  \{}".format(participant_file))

participant_xl = pd.ExcelFile(participant_file)

print("Sheet Names: {}".format(participant_xl.sheet_names))

participant_df = participant_xl.parse("All Participants")
print("Columns: {} \nSize: {}".format(participant_df.columns, participant_df.shape))

Text Files Found:  \/Users/nikkibytes/Documents/summer2019/example_data/Total_Participant_Dataset.xlsx
Sheet Names: ['All Participants']
Columns: Index(['Record ID', 'Date of Intake', 'Child/Mother',
       'QA Done/Sent to PI + Date', 'Site'],
      dtype='object')
Size: (1015, 5)

In [46]:
participant_df.head()

  Record ID Date of Intake Child/Mother QA Done/Sent to PI + Date Site
0    105040     2017-03-01       Child                  7.19.2018  UMN
1    105040     2017-06-08       Child                  7.19.2018  UMN
2    105040     2017-09-07       Child                  7.19.2018  UMN
3    116056     2016-09-29       Child                  7.19.2018  UMN
4    116056     2016-12-18       Child                  7.19.2018  UMN

In [47]:
temp_df= participant_df.drop_duplicates(subset="Record ID")
child_df = temp_df.loc[temp_df['Child/Mother'] == "Child"]

print("Check unique values returned is only child: \n{}".format(child_df["Child/Mother"].unique()))

Check unique values returned is only child:
['Child']

In [48]:
# remove unneccessarty column 
child_df = child_df.drop(labels="Child/Mother", axis=1)
child_df.head()

        Record ID Date of Intake QA Done/Sent to PI + Date Site
896  105040_R1_6F     2018-09-18                   5.20.19  UMN
897  116056_R1_6F     2018-09-15                   5.20.19  UMN
898  176427_R1_07     2018-08-16                   5.20.19  UMN
899  185373_R1_1F     2018-07-13                   5.20.19  UMN
900  185373_R2_01     2018-07-22                   5.20.19  UMN

In [49]:
data_dir_path = "/Users/nikkibytes/Documents/summer2019/example_data"

child04_text_files = glob.glob(os.path.join(data_dir_path, "*Child*04*"))
mom04_text_files = glob.glob(os.path.join(data_dir_path, "*Mom*04*"))

print("Text Files Found:  \nFor Mom: {} \nFor Child: {}".format(','.join(child04_text_files), ','.join(mom04_text_files)))

Text Files Found:
For Mom: /Users/nikkibytes/Documents/summer2019/example_data/UMNUNCChild04.txt,/Users/nikkibytes/Documents/summer2019/example_data/UMNUNCChild04_.txt
For Child: /Users/nikkibytes/Documents/summer2019/example_data/UMNUNCMom04.txt