In [94]:
import os, glob
import pandas as pd

In [98]:
data_dir_path = "/Users/nikkibytes/Documents/summer2019/example_data"


data04_files_available = glob.glob(os.path.join(data_dir_path, "*04*"))

data09_files_available = glob.glob(os.path.join(data_dir_path, "*09*"))

data09_files_available

['/Users/nikkibytes/Documents/summer2019/example_data/UMNUNCMom09.txt',
 '/Users/nikkibytes/Documents/summer2019/example_data/UMNUNCChild09.txt']

In [99]:
child_data_path_04 = os.path.join(data_dir_path, "UMNUNCChild04.txt" )
child_data_path_09 = os.path.join(data_dir_path, 'UMNUNCChild09.txt')

mom_data_path_04 = os.path.join(data_dir_path, "UMNUNCMom04.txt" )
mom_data_path_09 = os.path.join(data_dir_path, "UMNUNCMom09.txt" )

In [107]:
child04=pd.read_table(child_data_path_04, index_col=False)

child09=pd.read_table(child_data_path_09, encoding='latin1')


mom04=pd.read_table(child_data_path_04, index_col=False)

mom09=pd.read_table(child_data_path_04, index_col=False)

In [109]:
child09.head()

,Project Abbreviation,Participant ID,Date of Intake,FRU0100,FRU0200,FRU0300,FRU0400,FRU0500,FRU0600,FRU0700,...,MSC0300,MSC0400,MSC0500,MSC0600,MSC0700,MSC0800,MSC0900,MSC1000,GRW1300,GRS1300
0,NaN,NaN,NaN,Citrus Juice,Fruit Juice excluding Citrus Juice,Citrus Fruit,Fruit excluding Citrus Fruit,Avocado and Similar,Fried Fruits,Fruit-based Savory Snack,...,Sauces and Condiments - Regular,Sauces and Condiments - Reduced Fat,Pickled Foods,Miscellaneous Dessert,Non-grain Flour and Similar,Soup Broth,Baby Food Dessert,Miscellaneous Baby Food Mixtures,Baby Food Grain Mixtures  Whole Grain,Baby Food Grain Mixtures  Some Whole Grain
1,UMNUNCChild,002081_R1_2F,10/25/2018,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,UMNUNCChild,011228_R1_4F,09/09/2018,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UMNUNCChild,011228_R2_4,09/11/2018,0,0,0,0.222,0,0,0,...,0,0.012,0,0,0,0,0,0,0,0
4,UMNUNCChild,051407_R1_1F,04/15/2018,0,0,0,0.775,0,0,0,...,0,0,0,0,0,0,0,0.886,0,0

In [88]:
df.drop(["Data Field 1 Descriptor","Data Field 1 Response", "Data Field 2 Descriptor", "Data Field 2 Response", "Data Field 3 Descriptor", "Data Field 3 Response", "Data Field 4 Descriptor", "Data Field 4 Response", "Data Field 5 Descriptor", "Data Field 5 Response"], axis=1, inplace=True)

df.drop(["Column intentionally left blank"], axis=1, inplace=True)

In [89]:
#values =list(df.columns.values)
#print(values)

In [90]:
#selection = input("What value from the list below would you like to see?")
#df[selection]

In [91]:
participants = df['Participant ID']

In [92]:
ids = [] 
for i in participants:
    ids.append(i.split("_")[0])
ids = list(set(ids))
#ids